*{margin: 0; padding: 0;} 
nav.navbar.navbar-light.bg-faded{
margin: 0;
    padding: 0;
    width: 140px;
    height: 140px;
}
.khoitt1 {
{
	padding-top: 80px;
}
.body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}