*{margin: 0; padding: 0;}
nav.navbar.navbar-light.bg-faded {
    margin: 0;
    padding: 0;
    height: 100px;
}
.container {
    width: 100%;
    padding-right: 140px;
    padding-left: 140px;
    margin-right: auto;
    margin-left: auto;
}
a {
    color: #101010;
    text-decoration: none;
    background-color: transparent;
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 7px;
}
a.navbar-brand {
    padding: 0;
    margin-bottom: auto;
}
* {
    margin: 0;
    padding: 0;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
nav.navbar.navbar-light.bg-faded {
    margin: 0;
    padding: 0;
    height: 100px;
    background: white;
}
.khoitt1 {
    height: 100%;
    width: 100%;
    background: #e9585f;
    position: relative;
}
* {
    margin: 0;
    padding: 0;
}
* {
    /* margin: 0; */
    /* padding: 0; */
}
.khoitt1:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background: #e4555b;
    z-index: 1;
}
.tt {
    z-index: 2;
    position: relative;
    padding-top: 80px;
    margin-bottom: auto;
}
.info {
    z-index: 2;
    position: relative;
    text-align: left;
    margin-left: 270px;
}
body, html {
    height: 100%;
    width: 100%;
    background: #e9585f;
}
.text-xs-center {
    text-align: center!important;
    margin-top: 200px
}
.tt img {
    border-radius: 50%;
    margin-bottom: 45px;
}
.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 22px;
}
.tt p {
    color: black;
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 34px;
}
a.nuthire.btn.btn-primary {
    width: 180px;
    background: black;
    border: none;
    border-radius: 0px;
}
.tieudeto h1 {
    display: inline;
    background: white;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 30px;
}
.tieudeto {
    margin-top: 120px;
    margin-bottom: 60px; 
}
h2.tieudecap2 {
    font-weight: normal;
    font-family: segoe ui light;
}
span.dam {
    font-weight: bold;
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
}
.khoittnho h3.tieudecap3 {
    font-size: 16px;
    color: #e35855;
    margin-bottom: 20px;
}
span.motaqt {
    font-size: 14px;
    margin-bottom: 36px;
    display: block;
}
.khoittnho p {
    font-size: 13px;
    line-height: 20px;
    color: #636363;
}
.khoittnho {
    margin-bottom: 55px;
}
.edu {
    background: white;
}
.xuong:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 8px;
    background: white;
    left: 50%;
    bottom: 70%;
    margin-left: -2px;
}
.xuong:hover {
    bottom: 6%;
}
.xuong {
    width: 40px;
    height: 77px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    bottom: 3%;
    margin-left: -20px;
    z-index: 2;
    cursor: pointer;
    transition: 0.4s;
}
.col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 100%;
    max-width: 100%;
}
img.giua {display: block; margin-left: auto; margin-right: auto;margin-top: 300px;} 
